
header{
  background-image: url(../img/hola.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}
.bg-color{
  background-color: #05B7C0;
}
.tip{
  font-family: "Amatic SC";
  font-size: 120px;
}
.sel{
  font-family: "Amatic SC";
  font-size: 40px;
}
header div{
  color: white;
  text-align: center;
  position: relative;
  top: 100px;
  font-size: 10px;
  padding: 13px;
}
header div h1 {
  border-top: 3px solid white;
  display: inline;
  font-family: "Permanent Marker";
 font-size: 25px;
}
.EXP h1{
  font-family: "Permanent Marker";
  text-align: center;
  text-decoration: underline;
}
.EXP i{
  color: #05B7C0;
  display: inline;
  font-size: 120px;
}
.EXP div {
  text-align: center;
  font-family: "Amatic SC";
  margin-top: 23px;
  font-size: 70px;
}
.EXP a{
  font-size: 40px;
  color: #05b7c0;;

}
.work{
  background-color: #05b7c0;
}
.work h1{
  color:white;
  text-align: center;
  font-size: 50px;
  font-family: "Permanent Marker";
  padding: 17px;
}
.work .card{
  margin: 25px;
  width: 50rem;
  padding: 10px;
}
.exp h1{
  font-family: "Permanent Marker";
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}

footer{
  background-color: #05b7c0;
  font-family: "Amatic SC";
  font-size: 70px;
  text-align: center;
  color:white;
  padding: 12px;
}
.about h1{
  text-align: center;
  font-family: "Permanent Marker";
  font-size: 30px;
}
.about .row{
  font-family: "Amatic SC";
  padding: 25px;
}
.exp form{
  width: 250px;
  margin-left: 30px;
  margin-bottom: 10px;
}
@media (min-width: 576px){
  header{
    height: 600px;
  }
  header div{
    position: relative;
    top: 450px;
    font-size: 35px;
    padding: 13px;
  }
  header div h1 {
    border-top: 3px solid white;
    display: inline;
    font-family: "Permanent Marker";
   font-size: 45px;
  }
  .work .row{
    flex-wrap: nowrap;
    margin: 12px 90px;
  }
  .work div{
    width: 65rem;
  }
  .about h1{
    text-align: center;
    font-family: "Permanent Marker";
    font-size: 50px;
  }
  .about .row{
    font-family: "Amatic SC";
    padding: 25px;
    font-size: 20px;
  }
  .exp form{
    width: 1200px;
    margin-left: 90px;
    margin-bottom: 30px;
  }
}
